@charset "UTF-8";

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-SemiBold.woff2") format("woff2"), url("../fonts/Quicksand-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Quicksand;
  font-display: swap;
  src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-email:before {
  content: "\e901";
}

._icon-address:before {
  content: "\e902";
}

._icon-phone:before {
  content: "\e903";
}

._icon-general-construction:before {
  content: "\f100";
}

._icon-constructor:before {
  content: "\f101";
}

._icon-pre-construction-design:before {
  content: "\f102";
}

._icon-project:before {
  content: "\f104";
}

._icon-construction-management:before {
  content: "\f105";
}

._icon-building-modeling:before {
  content: "\f106";
}

._icon-employees:before {
  content: "\f107";
}

._icon-heart:before {
  content: "\e900";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: Quicksand;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Quicksand;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  max-width: 125rem;
  margin: 0 auto;
  background-color: #2C2C2C;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться к
всех классов, содержащих *__container
К примеру header__container, main__container и т.п.
Сниппет (HTML): cnt
*/

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.no-webp .logo__link{
  background: url("../img/logo/logo-3.png") center/cover; }

.logo__link {
  display: block;
  width: 9.375rem;
  height: 6.25rem;
}

.phrase {
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 0.3125rem;
}

.phrase:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.title {
  position: relative;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3125rem;
  line-height: 1.7777777778;
}

.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.375rem;
  width: 3.75rem;
  height: 0.25rem;
  background-color: #FFC300;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
}

.come_top *,
.come_right *,
.come_bottom *,
.come_left * {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0.5;
}

._watcher-view .come_top *,
._watcher-view .come_right *,
._watcher-view .come_bottom *,
._watcher-view .come_left * {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.come_top * {
  -webkit-transform: translateY(-3.125rem);
      -ms-transform: translateY(-3.125rem);
          transform: translateY(-3.125rem);
}

.touch .come_top * {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
}

.come_right * {
  -webkit-transform: translateX(3.125rem);
      -ms-transform: translateX(3.125rem);
          transform: translateX(3.125rem);
}

.touch .come_right * {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
}

.come_bottom * {
  -webkit-transform: translateY(3.125rem);
      -ms-transform: translateY(3.125rem);
          transform: translateY(3.125rem);
}

.touch .come_bottom * {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
}

.come_left * {
  -webkit-transform: translateX(-3.125rem);
      -ms-transform: translateX(-3.125rem);
          transform: translateX(-3.125rem);
}

.touch .come_left * {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
}

.we {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.we__wrapper {
  padding: 0 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.we__image-ibg {
  padding-bottom: 70%;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.experience__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.experience__head {
  padding: 0 1.875rem;
}

.experience__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1.875rem;
  gap: 1.25rem;
}

.experience__steps:not(:last-child) {
  margin-bottom: 3.75rem;
}

.experience__step {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 1.25rem * 3);
          flex: 1 1 calc(25% - 1.25rem * 3);
  min-width: 11.25rem;
}

.experience__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.no-webp .experience__paralax{
  background-image: url("../img/experience/paralax-cover-bg.jpeg"); }

.experience__paralax {
  position: relative;
  /* The image used */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.experience__paralax::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2C2C2C;
  opacity: 0.3;
}

.experience__project {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(25% - 1.25rem * 3);
          flex: 1 1 calc(25% - 1.25rem * 3);
  min-width: 9.375rem;
}

.step-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step-experience__icon {
  font-size: 6.25rem;
  color: #FFC300;
}

.step-experience__icon:not(:last-child) {
  margin-bottom: 1.25rem;
}

.step-experience__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.step-experience__title {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
}

.step-experience__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.step-experience__descr {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: justify;
  font-size: 0.9375rem;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

.project-experience__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-experience__icon {
  display: inline-block;
  padding: 1.5625rem;
  background-color: #fff;
  border-radius: 50%;
  font-size: 3.125rem;
  color: #FFC300;
}

.project-experience__icon:not(:last-child) {
  margin-bottom: 1.25rem;
}

.project-experience__value {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.project-experience__value:not(:last-child) {
  margin-bottom: 1.25rem;
}

.project-experience__descr {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  line-height: 0.3571428571;
  text-align: center;
}

.recent-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.recent-work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 1.875rem 0.9375rem 1.875rem;
}

.recent-work__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-work__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.recent-work__item {
  position: relative;
}

.recent-work__item:nth-child(6),
.recent-work__item:nth-child(1) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.item-recent-work {
  position: relative;
  overflow: hidden;
}

.item-recent-work__image-ibg {
  height: 100%;
  padding-bottom: 50%;
}

.descr-recent {
  position: absolute;
  overflow: scroll;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.descr-recent__body {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  background-color: rgba(44, 44, 44, 0.4);
}

.descr-recent__title {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.descr-recent__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.descr-recent__descr {
  font-size: 0.8125rem;
  line-height: 1.25;
  text-align: justify;
}

.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.blogs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.875rem 0.9375rem 1.875rem;
}

.blogs__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.blog__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
  height: 100%;
  gap: 0.9375rem;
}

.blog__content {
  display: block;
}

.blog__image-ibg {
  overflow: hidden;
  padding-bottom: 59.375%;
}

.blog__image-ibg img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.blog__meta span {
  display: inline-block;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-weight: 400;
}

.blog__meta span:not(:last-child) {
  margin-right: 0.9375rem;
  position: relative;
}

.blog__meta span:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.4375rem;
  height: 100%;
  width: 0.0625rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.blog__title {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.blog__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.blog__text {
  font-size: 0.9375rem;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 1.875rem 0.9375rem 1.875rem;
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.item-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.item-contact__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6.25rem;
  height: 6.25rem;
  font-size: 2.8125rem;
  color: #FFC300;
  border: 1px solid #999999;
}

.item-contact__link {
  font-size: 2.1875rem;
  color: #FFC300;
}

.item-contact__info {
  font-size: 1.875rem;
  color: #FFC300;
}

.hidden-menu__body {
  position: fixed;
  width: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  top: 0;
  left: -9.375rem;
  overflow: visible;
  z-index: 4;
  background-color: #2C2C2C;
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
}

.menu-open .hidden-menu__body {
  left: 0;
}

.menu-open .hidden-menu__body::before {
  left: 0;
}

.hidden-menu__body .logo:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.hidden-menu__btn {
  position: absolute;
  width: 1.875rem;
  height: 1.125rem;
  right: -2.5rem;
  top: 0.625rem;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  background-color: #2C2C2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
}

.aside__logo:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.aside__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer-aside__copyright {
  color: rgba(255, 255, 255, 0.502);
  font-size: 0.75rem;
  line-height: 1.25;
  text-align: center;
}

.footer-aside__copyright span {
  display: inline-block;
  font-size: 0.625rem;
  color: #FFC300;
}

.menu:not(:last-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__item {
  text-align: center;
}

.menu__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.menu__link {
  position: relative;
  padding: 0.5rem 0.0625rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  color: rgba(255, 255, 255, 0.502);
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #FFC300;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@-webkit-keyframes accent-line {
  0% {
    width: 0%;
  }

  10% {
    width: 10%;
  }

  20% {
    width: 20%;
  }

  30% {
    width: 30%;
  }

  40% {
    width: 40%;
  }

  50% {
    width: 55%;
  }

  60% {
    width: 70%;
  }

  70% {
    width: 85%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 115%;
  }

  100% {
    width: 100%;
  }
}

@keyframes accent-line {
  0% {
    width: 0%;
  }

  10% {
    width: 10%;
  }

  20% {
    width: 20%;
  }

  30% {
    width: 30%;
  }

  40% {
    width: 40%;
  }

  50% {
    width: 55%;
  }

  60% {
    width: 70%;
  }

  70% {
    width: 85%;
  }

  80% {
    width: 100%;
  }

  90% {
    width: 115%;
  }

  100% {
    width: 100%;
  }
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  overflow: scroll;
}

.main-content__body {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu-open .main-content__body {
  -webkit-transform: translateX(9.375rem);
      -ms-transform: translateX(9.375rem);
          transform: translateX(9.375rem);
}

.main-content__sections {
  position: relative;
  background-color: #fff;
}

.slider-general {
  position: relative;
}

.slider-general__image img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slider-general__scroll-down {
  position: absolute;
  padding: 0.625rem;
  left: 50%;
  bottom: 3.125rem;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 0.25rem;
}

@-webkit-keyframes move-up-down {
  0% {
    bottom: 5rem;
  }

  100% {
    bottom: 3.125rem;
  }
}

@keyframes move-up-down {
  0% {
    bottom: 5rem;
  }

  100% {
    bottom: 3.125rem;
  }
}

.slider-general__pagination {
  position: absolute;
  left: 0.625rem;
  bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.slider-general__pagination .swiper-pagination-bullet {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  background-color: #2C2C2C;
  border: 2px solid transparent;
  border-radius: 50%;
}

.slider-general__pagination .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 2px solid #FFC300;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 37.49875rem) {
  .we__image-ibg {
    padding-bottom: 35%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .we__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (min-width: 37.5rem) {
  .blog__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 75.06125rem) {
  .blog__items {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 81.31125rem) {
  .blog__items {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 25em) {
  .we {
    padding-top: 3.75rem;
  }

  .experience {
    padding-top: 3.75rem;
  }

  .recent-work {
    padding-top: 3.75rem;
  }

  .blogs {
    padding-top: 3.75rem;
  }

  .contact {
    padding-top: 3.75rem;
  }
}

@media (min-width: 120em) {
  .text p:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .content-we__head:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  .experience__head:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  .recent-work__head:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  .blogs__head:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  .blog__image-ibg:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .blog__meta:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .blog__meta span {
    letter-spacing: 0.1875rem;
  }

  .contact__head:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  .item-contact__info {
    font-size: 1.875rem;
  }

  .hidden-menu__body {
    padding: 2.8125rem;
  }

  .aside {
    padding: 2.8125rem;
  }
}

@media (max-width: 20em) {
  .text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .content-we__head:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .experience__head:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .recent-work__head:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .blogs__head:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .blog__image-ibg:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .blog__meta:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .blog__meta span {
    letter-spacing: 0.09375rem;
  }

  .contact__head:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .item-contact__info {
    font-size: 1.375rem;
  }

  .hidden-menu__body {
    padding: 1.875rem;
  }

  .aside {
    padding: 1.875rem;
  }
}

@media (max-width: 73.68625rem) {
  .recent-work__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 47.99875em) {
  .we__wrapper {
    padding: 0 0.625rem;
    gap: 0.625rem;
  }

  .experience__head {
    padding: 0 0.625rem;
  }

  .experience__steps {
    padding: 0 0.625rem;
    gap: 0.9375rem;
  }

  .experience__step {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(25% - 0.9375rem * 3);
            flex: 1 1 calc(25% - 0.9375rem * 3);
  }

  .experience__projects {
    padding: 1.25rem 0.625rem;
  }

  .recent-work__wrapper {
    padding: 0 0.625rem 0.625rem 0.625rem;
    gap: 0.625rem;
  }

  .recent-work__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .recent-work__item:nth-child(6),
  .recent-work__item:nth-child(1) {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  .blogs__wrapper {
    padding: 0 0.625rem 0.625rem 0.625rem;
    gap: 0.625rem;
  }

  .contact__wrapper {
    padding: 0 0.625rem 0.625rem 0.625rem;
    gap: 0.625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .aside {
    display: none;
  }
}

@media (max-width: 37.49875rem) {
  .text {
    line-height: 1.3333333333;
  }

  .we__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    gap: 0;
  }

  .content-we__head {
    padding: 0 0.625rem;
  }

  .content-we__text {
    padding: 0 0.625rem;
  }

  .recent-work__head {
    padding: 0 0.625rem;
  }

  .blogs__head {
    padding: 0 0.625rem;
  }

  .contact__head {
    padding: 0 0.625rem;
  }
}

@media (max-width: 37.49875rem) and (max-width: 0.0625em) {
  .content-we__head {
    padding-top: 1.25rem;
  }

  .recent-work__head {
    padding-top: 1.25rem;
  }

  .blogs__head {
    padding-top: 1.25rem;
  }

  .contact__head {
    padding-top: 1.25rem;
  }
}

@media (max-width: 31.25rem) {
  .item-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-contact__info {
    text-align: center;
  }
}

@media (max-width: 0.0625em) {
  .we {
    padding-top: 1.25rem;
  }

  .experience {
    padding-top: 1.25rem;
  }

  .recent-work {
    padding-top: 1.25rem;
  }

  .blogs {
    padding-top: 1.25rem;
  }

  .contact {
    padding-top: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 120em) {
@supports (margin-bottom: clamp( 0.625rem , 0.475rem  +  0.75vw , 1.375rem )) {
    .text p:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.475rem  +  0.75vw , 1.375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.475rem  +  0.75vw , 1.375rem )) {
    .text p:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.75 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem )) {
    .content-we__head:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem )) {
    .content-we__head:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.9375 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem )) {
    .experience__head:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem )) {
    .experience__head:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.9375 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem )) {
    .recent-work__head:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem )) {
    .recent-work__head:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.9375 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem )) {
    .blogs__head:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem )) {
    .blogs__head:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.9375 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem )) {
    .blog__image-ibg:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem )) {
    .blog__image-ibg:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem )) {
    .blog__meta:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.5rem  +  0.625vw , 1.25rem )) {
    .blog__meta:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 100);
    }
}

@supports (letter-spacing: clamp( 0.09375rem , 0.075rem  +  0.09375vw , 0.1875rem )) {
    .blog__meta span {
      letter-spacing: clamp( 0.09375rem , 0.075rem  +  0.09375vw , 0.1875rem );
    }
}

@supports not (letter-spacing: clamp( 0.09375rem , 0.075rem  +  0.09375vw , 0.1875rem )) {
    .blog__meta span {
      letter-spacing: calc(0.09375rem + 0.09375 * (100vw - 20rem) / 100);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem )) {
    .contact__head:not(:last-child) {
      margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 0.975rem  +  2.9375vw , 4.5rem )) {
    .contact__head:not(:last-child) {
      margin-bottom: calc(1.5625rem + 2.9375 * (100vw - 20rem) / 100);
    }
}

@supports (font-size: clamp( 1.375rem , 1.275rem  +  0.5vw , 1.875rem )) {
    .item-contact__info {
      font-size: clamp( 1.375rem , 1.275rem  +  0.5vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.275rem  +  0.5vw , 1.875rem )) {
    .item-contact__info {
      font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 100);
    }
}

@supports (padding: clamp( 1.875rem , 1.6875rem  +  0.9375vw , 2.8125rem )) {
    .hidden-menu__body {
      padding: clamp( 1.875rem , 1.6875rem  +  0.9375vw , 2.8125rem );
    }
}

@supports not (padding: clamp( 1.875rem , 1.6875rem  +  0.9375vw , 2.8125rem )) {
    .hidden-menu__body {
      padding: calc(1.875rem + 0.9375 * (100vw - 20rem) / 100);
    }
}

@supports (padding: clamp( 1.875rem , 1.6875rem  +  0.9375vw , 2.8125rem )) {
    .aside {
      padding: clamp( 1.875rem , 1.6875rem  +  0.9375vw , 2.8125rem );
    }
}

@supports not (padding: clamp( 1.875rem , 1.6875rem  +  0.9375vw , 2.8125rem )) {
    .aside {
      padding: calc(1.875rem + 0.9375 * (100vw - 20rem) / 100);
    }
}
}

@media (min-width: 0.0625em) and (max-width: 25em) {
@supports (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .we {
      padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .we {
      padding-top: calc(1.25rem + 2.5 * (100vw - 0.0625rem) / 24.9375);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .experience {
      padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .experience {
      padding-top: calc(1.25rem + 2.5 * (100vw - 0.0625rem) / 24.9375);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .recent-work {
      padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .recent-work {
      padding-top: calc(1.25rem + 2.5 * (100vw - 0.0625rem) / 24.9375);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .blogs {
      padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .blogs {
      padding-top: calc(1.25rem + 2.5 * (100vw - 0.0625rem) / 24.9375);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .contact {
      padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .contact {
      padding-top: calc(1.25rem + 2.5 * (100vw - 0.0625rem) / 24.9375);
    }
}
}

@media (max-width: 37.49875rem) and (min-width: 25em) {
  .content-we__head {
    padding-top: 3.75rem;
  }

  .recent-work__head {
    padding-top: 3.75rem;
  }

  .blogs__head {
    padding-top: 3.75rem;
  }

  .contact__head {
    padding-top: 3.75rem;
  }
}

@media (max-width: 37.49875rem) and (min-width: 0.0625em) and (max-width: 25em) {
@supports (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .content-we__head {
      padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .content-we__head {
      padding-top: calc(1.25rem + 2.5 * (100vw - 0.0625rem) / 24.9375);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .recent-work__head {
      padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .recent-work__head {
      padding-top: calc(1.25rem + 2.5 * (100vw - 0.0625rem) / 24.9375);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .blogs__head {
      padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .blogs__head {
      padding-top: calc(1.25rem + 2.5 * (100vw - 0.0625rem) / 24.9375);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .contact__head {
      padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.2437343358rem  +  10.0250626566vw , 3.75rem )) {
    .contact__head {
      padding-top: calc(1.25rem + 2.5 * (100vw - 0.0625rem) / 24.9375);
    }
}
}

@media (any-hover: hover) {
  .item-recent-work:hover .item-recent-work__descr {
    opacity: 1;
  }

  .blog__content:hover .blog__image-ibg img {
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
            transform: scale(1.08);
  }

  .blog__content:hover .blog__title {
    text-decoration: underline;
  }

  .item-contact__link:hover {
    text-decoration: underline;
  }

  .menu__link:hover {
    color: #fff;
  }

  .menu__link:hover::after {
    -webkit-animation: accent-line 0.18s forwards ease;
            animation: accent-line 0.18s forwards ease;
  }

  .menu__link:not([href]) {
    color: #FFC300;
  }

  .menu__link:not([href])::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 0.0625rem;
    background-color: #FFC300;
    -webkit-animation: none;
            animation: none;
  }
}

.webp .logo__link{ background: url(../img/logo/logo-3.webp) center/cover; }

.webp .experience__paralax{ background-image: url(../img/experience/paralax-cover-bg.webp); }